# Build
bin/
obj/

!bin/Release/
!bin/Release/**/
!bin/Release/**/publish/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VSCode & Rider
.vscode/
.idea/

# Logs
*.log

# EF Migrations snapshot
*Migrations/*.Designer.cs
*Migrations/*ModelSnapshot.cs
